NETWORK=localterra
CHAIN_ID=localterra
CHAIN_PREFIX=terra
CHAIN_DENOM=uluna

LCD_ENDPOINT=http://localhost:1317
WEBSOCKET_ENDPOINT=ws://localhost:26657/websocket

TESTER1_MNEMONIC_KEY=
TESTER2_MNEMONIC_KEY=

# enable it to use skip to accelerate
ENABLE_SKIP=false
SKIP_RPC=http://pisco-1-api.skip.money

# only required when running localterra, for testnet and mainnet we get address maintained by sdk
WARP_CONTROLLER_ADDRESS=

ASTRO_LUNA_PAIR_ADDRESS=
ASTRO_TOKEN_ADDRESS=
ASTROPORT_ROUTER_ADDRESS=
